<!DOCTYPE html>
<html>
  <head>
    <title>Larsa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <form accept-charset="UTF-8" action="/message" method="post">
      <input name="message" />
      <input name="commit" type="submit" value="Send message" />
    </form>
  </body>
</html>
